@import "variables";


* {
  box-sizing: border-box;
}

body {
  background: gray;
  height: 100%;
  
}

.carousel-cell {
  width: 100%;
  min-height: 250px;
  height: 50%;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  background: rgba(214, 214, 203, 0.733);
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.restart {
    position: absolute;
    background: hsla(0, 0%, 0%, 0.3);
    z-index: 1;
    padding: 2px 20px;
    font-size: 20px;
    color: #fff;
    left: 10px;
    top: 10px;
} 

.progress-bar {
    height: 20px;
    width: 0;
    background: rgba(216, 124, 19, 0.856);
}

.carousel-cell--image1 {
    background-image: url(https://images.pexels.com/photos/236636/pexels-photo-236636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.carousel-cell--image2 {
    background-image: url(https://images.pexels.com/photos/87403/cheetah-leopard-animal-big-87403.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.carousel-cell--image3 {
    background-image: url(https://images.pexels.com/photos/62289/yemen-chameleon-chamaeleo-calyptratus-chameleon-reptile-62289.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.carousel-cell--image4 {
    background-image: url(https://images.pexels.com/photos/158471/ibis-bird-red-animals-158471.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.carousel-cell--image5 {
    background-image: url(https://images.pexels.com/photos/1431465/pexels-photo-1431465.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}